[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = false
name = "pytorch"

[packages]
docling = "==2.5.2"
fastapi = "==0.115.5"
pydantic = "==2.9.2"
python-multipart = "==0.0.17"
tesserocr = "==2.7.1"
torch = {version = "==2.2.2+cpu", index = "pytorch"}
torchvision = {version = "==0.17.2+cpu", index = "pytorch"}
uvicorn = "==0.29.0"

[dev-packages]
"watchdog[watchmedo]" = "~=6.0.0"

[requires]
python_version = "3.12"