[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"
verify_ssl = false
name = "pytorch"

[packages]
vllm = "==0.4.0"
cmake = "~=3.29.0.1"
ninja = "~=1.11.1.1"
psutil = "~=5.9.8"
ray = "~=2.10.0"
sentencepiece = "~=0.2.0"
numpy = "~=1.26.4"
torch = {version = "==2.1.2+cu121", index = "pytorch"}
requests = "~=2.31.0"
py-cpuinfo = "~=9.0.0"
transformers = "~=4.39.2"
xformers = "==0.0.23.post1"
fastapi = "~=0.110.0"
uvicorn = {extras = ["standard"], version = "~=0.29.0"}
pydantic = "~=2.6.4"
prometheus_client = "~=0.20.0"
pynvml = "==11.5.0"
triton = "==2.1.0"
outlines = "==0.0.34"
tiktoken = "==0.6.0"
pip = "~=24.0"


[dev-packages]

[requires]
python_version = "3.11"