[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"
verify_ssl = false
name = "pytorch"

[packages]
accelerate = "~=0.25.0"
aioprometheus = {extras = ["starlette"], version = "~=23.3.0"}
fastapi = "~=0.105.0"
ninja = "~=1.11.1.1"
numpy = "~=1.26.2"
pandas = "~=2.1.4"
psutil = "~=5.9.7"
pyarrow = "~=14.0.1"
pydantic = "~=1.10.13"
ray = "~=2.8.1"
sentencepiece = "~=0.1.99"
torch = {version = "==2.1.2+cu121", index = "pytorch"}
transformers = "~=4.36.1"
uvicorn = {extras = ["standard"], version = "==0.24.0.post1"}
vllm = "~=0.2.5"
xformers = "==0.0.23.post1"

[dev-packages]

[requires]
python_version = "3.11"