[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu124/"
verify_ssl = false
name = "pytorch"

[packages]
einops = "~=0.8.0"
fastapi = "~=0.115.7"
pip = "~=25.0"
sentence-transformers = "~=3.4.1"
torch = {version = "==2.5.1+cu124", index = "pytorch"}
transformers = "~=4.48.1"
uvicorn = "~=0.34.0"
wheel = "~=0.45.1"

[requires]
python_version = "3.12"