[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121/"
verify_ssl = false
name = "pytorch"

[packages]
torch = {version = "==2.2.1+cu121", index = "pytorch"}
einops = "==0.7.0"
gradio = "~=4.19.2"
langchain = "==0.1.9"
openai = "==1.13.3"
pymilvus = "==2.3.6"
sentence-transformers = "~=2.4.0"
text-generation = "~=0.6.1"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
